doctype html
html
  head
    title Message
  body
    form(action='/form', method='POST')
      .row
        label(for='Titel') Titel:
        br
        input#Titel(name='Titel', input='', type='text', value='', size='30')
        br
      .row
        label(for='message') Your message:
        br
        textarea#message(name='message', rows='10', cols='40')
        br
      input#submit_button(type='submit', value='Post message')
